<mat-card>
    <form
      class="example-form"
      (submit)="updatePost(postCreateForm)"
      #postCreateForm="ngForm"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title part" name="title" [ngModel]="post?.title" required/>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Content</mat-label>
        <textarea
          matInput
          placeholder="content part"
          name="content"
          [ngModel]="post?.content"
        ></textarea>
      </mat-form-field>
  
      <button mat-raised-button color="accent" type="submit">Submit</button>
    </form>
  </mat-card>